.image-of-day{
    margin-top: 100px;
    min-height: 100vh;
    background: auto auto no-repeat;
}
.list-item{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    margin-top: 20px;
}
.loadMore{
    color: var(--white-color);
    background: var(--primary-color);
    opacity: 0.9;
    padding: 10px;
    width: 100%;
    margin-top: 30px;
    font-size: 20px;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
}

.hide{
    display: none;
}

@media screen and (max-width: 1024px ){
    .list-item{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 767px ){
    .list-item{
        grid-template-columns: 1fr 1fr;
    }
}