.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color:inherit;
    z-index: 999;   
}
.container{
    position: relative;
    max-width: 1110px;
    margin: 0 auto;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.header-logo{
    width: 60px;
    height: 60px;
}

.header-nav{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 20px;
    font-size: 18px;
}