@import "normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

:root{
  --primary-color: #5367F8;
  --white-color: #eaebf4;
  --black-color: #333;
  --gray-color: #565656;
  --white-dark-color: #9aa2b0;
  --background-color: #0e0f15;
  --background-color2: #1f1f1f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body{
  min-height: 200px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: var(--white-color);
  background-color: var(--background-color);
}

.shrink{
  background: var(--background-color);
}

.container{
  max-width: 1110px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
}

button, input, [tabindex]{
  font-family: "Poppins", sans-serif;
  outline: none;
  border: none;
}

a{
  color: inherit;
  text-decoration: none;
}

img{
  width: 100%;
  // height: 100%;
  object-fit: cover;
}